In [8]:
import pandas as pd
#import datetime as dt

In [2]:
first_data = pd.read_csv("201803-citibike-tripdata.csv")
combined_data = pd.DataFrame(first_data)
combined_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,1
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,1
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72,W 52 St & 11 Ave,40.767272,-73.993929,3664,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,1
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,1
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,2

In [3]:
for i in range(201804, 201812):
    file_to_load = str(i) + "-citibike-tripdata.csv"
    bike_data = pd.read_csv(file_to_load)
    #combined_data = pd.concat([combined_data, bike_data], ignore_index = True )
    combined_data = combined_data.append(bike_data)

In [4]:
len(combined_data.index)

13709371

In [11]:
starttime2 = pd.to_datetime(combined_data.starttime, errors='coerce')
stoptime2 = pd.to_datetime(combined_data.stoptime, errors='coerce')
new_data = combined_data.assign(start_date=starttime2.dt.date, start_hour=starttime2.dt.hour, 
                                stop_date = stoptime2.dt.date, stop_hour=stoptime2.dt.hour)
new_data.replace({'gender': {0: 'Unknown', 1: 'Male', 2: 'Female'}}, inplace=True)

In [12]:
new_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_date,start_hour,stop_date,stop_hour
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,Male,2018-03-01,2,2018-03-01,2
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,Male,2018-03-01,5,2018-03-01,5
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,Male,2018-03-01,5,2018-03-01,6
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,Male,2018-03-01,6,2018-03-01,7
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,Female,2018-03-01,7,2018-03-01,7

In [13]:
new_data.to_csv("combined_bike_tripdata.csv")